21312312-2.json
[
    {
        "id": "f1a2c8f1b9bc1a01",
        "type": "tab",
        "label": "Firebase Sensores",
        "disabled": false,
        "info": ""
    },

    {
        "id": "c7f7b50ca0dd0cd2",
        "type": "firebase config",
        "name": "Firebase PS",
        "firebasehost": "prevention-sense-default-rtdb.firebaseio.com",
        "firebasesecret": "Zl6qCjLL7AUu4lJQAmXPxAKc5iQWqkjz7kgnySDU"
    },

    {
        "id": "7b52d7ed8af60df3",
        "type": "firebase in",
        "z": "f1a2c8f1b9bc1a01",
        "firebaseconfig": "c7f7b50ca0dd0cd2",
        "name": "Temperatura",
        "childpath": "motor/temperatura",
        "eventType": "value",
        "x": 180,
        "y": 120,
        "wires": [
            [
                "98ccf3a51c4dbbf0"
            ]
        ]
    },
    {
        "id": "98ccf3a51c4dbbf0",
        "type": "debug",
        "z": "f1a2c8f1b9bc1a01",
        "name": "Temperatura Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 430,
        "y": 120,
        "wires": []
    },


    {
        "id": "fa4e202db2b9d0a7",
        "type": "firebase in",
        "z": "f1a2c8f1b9bc1a01",
        "firebaseconfig": "c7f7b50ca0dd0cd2",
        "name": "Corrente",
        "childpath": "motor/corrente",
        "eventType": "value",
        "x": 170,
        "y": 220,
        "wires": [
            [
                "3a9d20d5a75db4bc"
            ]
        ]
    },
    {
        "id": "3a9d20d5a75db4bc",
        "type": "debug",
        "z": "f1a2c8f1b9bc1a01",
        "name": "Corrente Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 420,
        "y": 220,
        "wires": []
    },


    {
        "id": "b0d3d06f3aa1492d",
        "type": "firebase in",
        "z": "f1a2c8f1b9bc1a01",
        "firebaseconfig": "c7f7b50ca0dd0cd2",
        "name": "Vibração",
        "childpath": "motor/vibracao",
        "eventType": "value",
        "x": 170,
        "y": 320,
        "wires": [
            [
                "a9f1d0f78859849c"
            ]
        ]
    },
    {
        "id": "a9f1d0f78859849c",
        "type": "debug",
        "z": "f1a2c8f1b9bc1a01",
        "name": "Vibracao Debug",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 430,
        "y": 320,
        "wires": []
    }
]
